@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Italicize all non-English text,
 except <span xml:lang> that aren't publications */
p[xml|lang],
blockquote[xml|lang],
span[xml|lang][epub|type]{
	font-style: italic;
}

/* Epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}

/* Epigraphs in section headers */
/* Epigraphs for epilogues chapter-8-1 and chapter-9-2 */
#epilogue-8-1 > [epub|type~="epigraph"],
#epilogue-9-2 > [epub|type~="epigraph"],
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

#epilogue-9-2 > [epub|type~="epigraph"] + *,
#epilogue-8-1 > [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	#epilogue-8-1 > [epub|type~="epigraph"],
	#epilogue-9-2 > [epub|type~="epigraph"],
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}

section#epilogue-8-1,
section#epilogue-9-2{
	margin-top: 20vh;
}

/* Centered dedications */
section[epub|type~="dedication"]{
	font-variant: all-small-caps;
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

section[epub|type~="dedication"] cite{
	text-align: right;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}

/* Letters */
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

#chapter-1-3 [epub|type~="z3998:salutation"],
#chapter-8-1 p[epub|type~="z3998:salutation"]{
	font-variant: normal;
}

/* Poetry */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

/* Illustrations */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

figure.full-page{
	break-after: page;
	break-before: page;
}
/* Endnote additional styling */

#note-3 ol{
	list-style-type: upper-roman;
}
